/* SchoolForm.css */

.form-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2; /* Professional background color */
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333; /* Dark text color */
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Light gray border color */
  border-radius: 4px;
  font-size: 16px;
}

.form-group button {
  width: 30%; /* Reduced button width */
  display: block;
  margin: 0 auto; /* Center the button */
  padding: 8px; /* Reduced padding */
  border: none;
  border-radius: 4px;
  background-color: #007bff; /* Change background color to blue */
  color: #fff;
  font-size: 14px; /* Reduced font size */
  cursor: pointer;
}

.form-group button:hover {
  background-color: #0056b3; /* Darker blue hover color */
}
